<a href="#0" class="cd-top">Top</a>
<footer id="footer" class="tg-haslayout">
<div class="tg-main-section">
<div class="container">
  <div class="row">
    <div class="tg-cols">
      <div class="col-sm-4 tg-colfirst-bgcolor">
        <div class="tg-col">
          <div class="tg-theme-heading">
            <h3>A propos</h3>
          </div>
          <strong class="logo">
            <a href="#">
              <img src="/img/kodus.png" alt="kodus logo">
            </a>
          </strong>
          <div class="tg-description">
            <p>Notre différence, c’est mettre en évidence la vôtre.</p>
          </div>
          <ul class="tg-social-icon">
            <li><a href="https://www.facebook.com/KODUS-1677512582541261"><i class="fa fa-facebook"></i></a></li>
            <!-- <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li> -->
            <li><a href="https://www.linkedin.com/in/kodus-maroc-425b93135"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="https://twitter.com/KodusMaroc"><i class="fa fa-twitter"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4 tg-colmid-bgcolor">
        <div class="tg-col">
          <div class="tg-theme-heading">
            <h3>Dernières Nouvelles </h3>
          </div>
          <div class="tg-latest-post">
            <ul>

              <li>
                <span class="tg-date">21<i>Feb</i></span>
                <div class="tg-post-contentbox">
                  <div class="tg-description">
                    <p>Persienne en Alu Fixe repliable ou coulissante</p>
                  </div>
                  <div class="tg-post-meta">
                    <span><a href="/article/2017/02/21/article1.html">Lire ...</a></span>
                  </div>
                </div>
              </li>

              <li>
                <span class="tg-date">23<i>Mar</i></span>
                <div class="tg-post-contentbox">
                  <div class="tg-description">
                    <p>Portail Battant</p>
                  </div>
                  <div class="tg-post-meta">
                    <span><a href="/article/2017/03/23/article2.html">Lire ...</a></span>
                  </div>
                </div>
              </li>

              <li>
                <span class="tg-date">22<i>Sep</i></span>
                <div class="tg-post-contentbox">
                  <div class="tg-description">
                    <p>Profitez de vos terrasses en toute hauteur.</p>
                  </div>
                  <div class="tg-post-meta">
                    <span><a href="/article/2017/09/22/article3.html">Lire ...</a></span>
                  </div>
                </div>
              </li>

              <li>
                <span class="tg-date">5<i>Oct</i></span>
                <div class="tg-post-contentbox">
                  <div class="tg-description">
                    <p>Cloisons</p>
                  </div>
                  <div class="tg-post-meta">
                    <span><a href="/article/2017/10/05/article4.html">Lire ...</a></span>
                  </div>
                </div>
              </li>

              <li>
                <span class="tg-date">24<i>Oct</i></span>
                <div class="tg-post-contentbox">
                  <div class="tg-description">
                    <p>Nouvelle technique...Vitrage Intelligent.</p>
                  </div>
                  <div class="tg-post-meta">
                    <span><a href="/article/2017/10/24/article5.html">Lire ...</a></span>
                  </div>
                </div>
              </li>

            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-4 tg-collast-bgcolor">
        <div class="tg-col">
          <div class="tg-theme-heading">
            <h3>Contacter nous</h3>
          </div>
          <div class="contact-info">
            <ul>
              <li>
                <span>Address:</span>
                <span>8, avenue Sijilmassi -ex Phare, groupe Y - Bourgogne - 20040  Casablanca</span>
              </li>
              <li>
                <span>Phone:</span>
                <span>
                  <i>+212 522390097 - Bureau</i>
                  <!-- <i>+212 000000000 - Fax</i> -->
                </span>
              </li>
              <li>
                <span>Email:</span>
                <span>
                  <i><a href="mailto:contact@kodusdb.com">contact@kodusdb.com</a></i>
                  <!-- <i><a href="#">contact@kodusdb.com</a></i> -->
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="tg-haslayout tg-footerbar-color">
<div class="container">
  <div class="tg-footer-bar">
    <nav class="footer-nav">
      <ul>
        <li><a href="#apropos">A propos</a></li>
        <li><a href="#realisation">Réalisation</a></li>
        <li><a href="#references">Références</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>
    <span class="copyright">&copy; 2015 | All Rights Reserved | Coded By  <a href="https://www.itknowledge.ma">IT Knowledge Maroc</a></span>
  </div>
</div>
</div>
</footer>




</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.bxslider.js"></script>
<script src="/js/jquery.flexslider.js"></script>
<script src="/js/jquery.prettyPhoto.js"></script>
<script src="/js/jquery.appear.js"></script>
<script src="/js/parallax.js"></script>
<script src="/js/isotope.pkgd.js"></script>
<script src="/js/owl.carousel.js"></script>
<script src="https://maps.google.com/maps/api/js?key=AIzaSyDlh_AGFXk44DuUVd6BDFas5XgqevprVms&amp;language=fr"></script>
<script src="/js/gmap3.js"></script>
<script src="/js/aos.js"></script>
<script src="/js/classie.js"></script>
<script src="/js/gnmenu.js"></script>
<script src="/js/back2top.js"></script>
<script src="/js/main.js"></script>
<script>
    AOS.init({
	  duration: 1000
	});
</script>



<!-- <script type='text/javascript' src='/vendors/unitegallery/js/jquery-11.0.min.js'></script> -->

<script type='text/javascript' src='/vendors/unitegallery/js/unitegallery.min.js'></script>
<script type='text/javascript' src='/vendors/unitegallery/themes/tiles/ug-theme-tiles.js'></script>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-101009114-1', 'auto');
  ga('send', 'pageview');
</script>

<script id="dsq-count-scr" src="//kodusdb.disqus.com/count.js" async></script>

</body>
</html>
