<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" href="/img/apple-kodus.png">
  <title><%- title %></title>
  <meta name="google-site-verification" content="6ITi_8ABCbTv8hCouNjnXz_zxGEXtVYkfDAuYAHaH2A">
  <meta name="description" content="Conseil en travaux de menuiserie aluminium en d’aménagement,Extension,Rénovation,traitement de façade,Isolation acoustique et thermique,Cloisonnement">
  <meta property="og:title" content="Kodus - Conseil en menuiserie Aluminium">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://www.kodusdb.com/">
  <meta property="og:image" content="">
  <meta property="og:description" content="Kodus , Conseil en travaux de menuiserie aluminium. Nous opérons dans les projets d’aménagement , Extension, Rénovation. Nous intervenons dans le traitement de façade , Isolation acoustique et thermique , Cloisonnement des espaces. Nous vous proposons la solution adéquate pour vos projets de Villas ,Hôtels , Restaurants, Cafés et Appartements.">
  <meta property="fb:app_id" content="123281368333377"/>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/prettyPhoto.css">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/flaticon.css">
  <link rel="stylesheet" href="/css/owl.carousel.css">
  <link rel="stylesheet" href="/css/owl.theme.css">
  <link rel="stylesheet" href="/css/transitions.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/color.css">
  <link rel="stylesheet" href="/css/aos.css">
  <link rel="stylesheet" href="/css/back2top.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/responsive.css">

  <link rel='stylesheet' href='/vendors/unitegallery/css/unite-gallery.css' type='text/css' />

  <script src="/js/snap.svg-min.js"></script>
  <script src="/js/modernizr-2.8.3-respond-1.4.2.min.js"></script>





  <% if (ENV_DEVELOPMENT) { %>
    <script src="http://localhost:35729/livereload.js"></script>
  <% } %>
</head>
<body class="home">
  <!-- <div class="preloader">
  <div id="status"></div>
  <div id="loading-center">
  <div id="loading-center-absolute">
  <div class="object" id="object_four"></div>
  <div class="object" id="object_three"></div>
  <div class="object" id="object_two"></div>
  <div class="object" id="object_one"></div>
  </div>
  </div>
  </div> -->
  <div id="wrapper">
