<section class="tg-main-section tg-haslayout bg-white" id="realisations">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="tg-theme-heading">
          <span>NOS</span>
          <h2>REALISATIONS</h2>
        </div>
      </div>
      <div id="tg-posts-slider" class="tg-posts">

<!-- Start contents -->


        <div class="item">
          <div class="tg-post">
            <div class="tg-post-img">
              <figure>
                <a href="/projet/2017/09/18/fgd.html">
                  <img src="/img/projets/Projet_FGD/imghead.jpg" alt="image description">
                </a>
              </figure>
              <!-- <div class="tg-post-hover">
                <ul class="tg-post-hover-icons">
                  <li><a href="#"><i class="fa fa-eye"></i></a></li>
                  <li><a href="#"><i class="fa fa-share-alt"></i></a></li>
                </ul>
              </div> -->
            </div>

            <!-- <div class="tg-post-content tg-border-topleft">
              <h3><a href="/projet/2017/09/18/fgd.html">Projet FGD</a></h3>
              <div class="tg-post-meta">
                <span><a href="#">Titre Un</a></span>
                <span><a href="#">Sous Titre</a></span>
              </div>
              <div class="tg-description">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>
            </div> -->
          </div>
          <h2><a href="/projet/2017/09/18/fgd.html">Projet FGD</a></h2>
        </div>

        <div class="item">
          <div class="tg-post">
            <div class="tg-post-img">
              <figure>
                <a href="/projet/2017/09/17/villa-t.html">
                  <img src="/img/projets/Projet_Villa_T/imghead.jpg" alt="image description">
                </a>
              </figure>
              <!-- <div class="tg-post-hover">
                <ul class="tg-post-hover-icons">
                  <li><a href="#"><i class="fa fa-eye"></i></a></li>
                  <li><a href="#"><i class="fa fa-share-alt"></i></a></li>
                </ul>
              </div> -->
            </div>

            <!-- <div class="tg-post-content tg-border-topleft">
              <h3><a href="/projet/2017/09/17/villa-t.html">Projet Villa T</a></h3>
              <div class="tg-post-meta">
                <span><a href="#">Titre Un</a></span>
                <span><a href="#">Sous Titre</a></span>
              </div>
              <div class="tg-description">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>
            </div> -->
          </div>
          <h2><a href="/projet/2017/09/17/villa-t.html">Projet Villa T</a></h2>
        </div>

        <div class="item">
          <div class="tg-post">
            <div class="tg-post-img">
              <figure>
                <a href="/projet/2017/09/16/pharma-5.html">
                  <img src="/img/projets/Pharma5/imghead.jpg" alt="image description">
                </a>
              </figure>
              <!-- <div class="tg-post-hover">
                <ul class="tg-post-hover-icons">
                  <li><a href="#"><i class="fa fa-eye"></i></a></li>
                  <li><a href="#"><i class="fa fa-share-alt"></i></a></li>
                </ul>
              </div> -->
            </div>

            <!-- <div class="tg-post-content tg-border-topleft">
              <h3><a href="/projet/2017/09/16/pharma-5.html">Projet Pharma 5</a></h3>
              <div class="tg-post-meta">
                <span><a href="#">Titre Un</a></span>
                <span><a href="#">Sous Titre</a></span>
              </div>
              <div class="tg-description">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>
            </div> -->
          </div>
          <h2><a href="/projet/2017/09/16/pharma-5.html">Projet Pharma 5</a></h2>
        </div>

        <div class="item">
          <div class="tg-post">
            <div class="tg-post-img">
              <figure>
                <a href="/projet/2017/09/15/villa-h.html">
                  <img src="/img/projets/Projet_Villa_H/imghead.jpg" alt="image description">
                </a>
              </figure>
              <!-- <div class="tg-post-hover">
                <ul class="tg-post-hover-icons">
                  <li><a href="#"><i class="fa fa-eye"></i></a></li>
                  <li><a href="#"><i class="fa fa-share-alt"></i></a></li>
                </ul>
              </div> -->
            </div>

            <!-- <div class="tg-post-content tg-border-topleft">
              <h3><a href="/projet/2017/09/15/villa-h.html">Projet Villa H</a></h3>
              <div class="tg-post-meta">
                <span><a href="#">Titre Un</a></span>
                <span><a href="#">Sous Titre</a></span>
              </div>
              <div class="tg-description">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>
            </div> -->
          </div>
          <h2><a href="/projet/2017/09/15/villa-h.html">Projet Villa H</a></h2>
        </div>

        <div class="item">
          <div class="tg-post">
            <div class="tg-post-img">
              <figure>
                <a href="/projet/2017/09/14/villa-e.html">
                  <img src="/img/projets/Projet_Villa_E/imghead.jpg" alt="image description">
                </a>
              </figure>
              <!-- <div class="tg-post-hover">
                <ul class="tg-post-hover-icons">
                  <li><a href="#"><i class="fa fa-eye"></i></a></li>
                  <li><a href="#"><i class="fa fa-share-alt"></i></a></li>
                </ul>
              </div> -->
            </div>

            <!-- <div class="tg-post-content tg-border-topleft">
              <h3><a href="/projet/2017/09/14/villa-e.html">Projet Villa E</a></h3>
              <div class="tg-post-meta">
                <span><a href="#">Titre Un</a></span>
                <span><a href="#">Sous Titre</a></span>
              </div>
              <div class="tg-description">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>
            </div> -->
          </div>
          <h2><a href="/projet/2017/09/14/villa-e.html">Projet Villa E</a></h2>
        </div>

        <div class="item">
          <div class="tg-post">
            <div class="tg-post-img">
              <figure>
                <a href="/projet/2017/09/13/projet-passage-fitness.html">
                  <img src="/img/projets/Passage_Fitness/imghead.jpg" alt="image description">
                </a>
              </figure>
              <!-- <div class="tg-post-hover">
                <ul class="tg-post-hover-icons">
                  <li><a href="#"><i class="fa fa-eye"></i></a></li>
                  <li><a href="#"><i class="fa fa-share-alt"></i></a></li>
                </ul>
              </div> -->
            </div>

            <!-- <div class="tg-post-content tg-border-topleft">
              <h3><a href="/projet/2017/09/13/projet-passage-fitness.html">Projet Passage Fitness</a></h3>
              <div class="tg-post-meta">
                <span><a href="#">Titre Un</a></span>
                <span><a href="#">Sous Titre</a></span>
              </div>
              <div class="tg-description">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>
            </div> -->
          </div>
          <h2><a href="/projet/2017/09/13/projet-passage-fitness.html">Projet Passage Fitness</a></h2>
        </div>

        <div class="item">
          <div class="tg-post">
            <div class="tg-post-img">
              <figure>
                <a href="/projet/2017/09/12/Ecole-Riyadh-Al-Andalousse.html">
                  <img src="/img/projets/Ecole_Riyadh_Al_Andalousse/imghead.jpg" alt="image description">
                </a>
              </figure>
              <!-- <div class="tg-post-hover">
                <ul class="tg-post-hover-icons">
                  <li><a href="#"><i class="fa fa-eye"></i></a></li>
                  <li><a href="#"><i class="fa fa-share-alt"></i></a></li>
                </ul>
              </div> -->
            </div>

            <!-- <div class="tg-post-content tg-border-topleft">
              <h3><a href="/projet/2017/09/12/Ecole-Riyadh-Al-Andalousse.html">Projet Ecole Riad Al Andalousse</a></h3>
              <div class="tg-post-meta">
                <span><a href="#">Titre Un</a></span>
                <span><a href="#">Sous Titre</a></span>
              </div>
              <div class="tg-description">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>
            </div> -->
          </div>
          <h2><a href="/projet/2017/09/12/Ecole-Riyadh-Al-Andalousse.html">Projet Ecole Riad Al Andalousse</a></h2>
        </div>

        <div class="item">
          <div class="tg-post">
            <div class="tg-post-img">
              <figure>
                <a href="/projet/2017/09/11/projet-cheikh-khalifa.html">
                  <img src="/img/projets/cheikh_khalifa/imghead.jpg" alt="image description">
                </a>
              </figure>
              <!-- <div class="tg-post-hover">
                <ul class="tg-post-hover-icons">
                  <li><a href="#"><i class="fa fa-eye"></i></a></li>
                  <li><a href="#"><i class="fa fa-share-alt"></i></a></li>
                </ul>
              </div> -->
            </div>

            <!-- <div class="tg-post-content tg-border-topleft">
              <h3><a href="/projet/2017/09/11/projet-cheikh-khalifa.html">Projet Cheikh Khalifa</a></h3>
              <div class="tg-post-meta">
                <span><a href="#">Titre Un</a></span>
                <span><a href="#">Sous Titre</a></span>
              </div>
              <div class="tg-description">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>
            </div> -->
          </div>
          <h2><a href="/projet/2017/09/11/projet-cheikh-khalifa.html">Projet Cheikh Khalifa</a></h2>
        </div>


<!-- End contents -->


      </div>
    </div>
  </div>
</section>
